.page{
    width: auto;
    height: auto;
    margin-right: auto;
    display: block;
}
.component{
    float: left;
    width: 100px;
    height: 150px;
    top:70px;
    left:20px;
    position: fixed;
    display: block;
}
.callWaiter,.basked,.table-number{
    left:1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    background-color:#3C0B0B;
    margin-top: 10px;
    border-radius: 10%;
    color:#fff;
    overflow: hidden;
    transition: 500ms;
    text-decoration: none;
    padding: 5px 5px;
    padding-right: 10px;
}
.icon{
    width: 24px;
    height: 24px;
    padding-left: 3px;
    color:#ffd900

  }
.callWaiter:hover,.basked:hover,.table-number:hover{
    left:1px;
    margin-top: 10px;
    transform: scaleX(1.1);
    width: 100px;
    transition: 500ms;
}
.basked-link{
    text-decoration: none;
    color:#ffffff;
    width: auto;
}
.basked p{
    font-size: 15px;
}