.header {
    background-color: #3C0B0B;
    color: white;
    display: flex;
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000; 
    margin-bottom: 25px;
  }
  
  .logos {
    font-size: xx-large;
    font-weight: bold;
    color: #ffd900;
    border-right: 1px solid #fff;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .menu {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .menu li {
    margin-right: 15px;
    color: #fff;
    margin: 25px;
  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    display: block;
    transition: 500ms;
  }
  
  .menu a:hover {
    transform: scale(1.1);
    opacity: 75%;
    /* font-size: 20.7px; */
    color: #ffd900;
    transition: 500ms;
  }