
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Kartları yatayda ortala */
  gap: 20px; /* Kartlar arası boşluk */
    
}
.product-card{
  width: calc(25% - 20px); /* Her satırda 4 kart olduğu için genişliği 25% */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}